<!DOCTYPE html>
<html>
	<head>
		<title>This is my first app</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#" onclick=" ">Login</a></li>
					<li><a href="homepage">Homepage</a></li>
					<li><a href="landingpage">Landing page</a></li>
				</ul>
			</div>
		</nav>
		<div class="row">
		  <div class="col-sm-4"></div>
		  <div class="col-sm-4" style="text-align: center;">
		  	<div class="container-fluid";>
		  		<form style="padding-top: 110px">
		  			<p id="it">New User??? Enter details below and click <b>Create New User</b></p>
		  			<p id="it">Existing User??? Enter details below and click <b>Log In</b></p>
		  			<p>""</p>
		  			<div class="form-group", style="text-align: left">
		  				<label for="username">Username:</label>
		  				<input type="username" class="form-control" id="email" placeholder="Enter Username">
		  			</div>
		  			<div class="form-group" style="text-align: left">
		  				<label for="pass">Password:</label>
		  				<input type="password" class="form-control" id="password" placeholder="Enter Password">
		  			</div>
		  			<button id="signup" class="btn btn-default">Create New User</button>
		  			<button id="signin" class="btn btn-default" type="submit">Log In</button>
		  		</form>
		  	</div>
		  </div>
		  <div class="col-sm-4"></div>
		</div>

		<script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>
		<script>
		  // Initialize Firebase
		  var config = {
		    apiKey: "AIzaSyC3-cs9GS1LtZgp0mG0uyvDCyTbKco3ZNI",
		    authDomain: "ideabox-dffe8.firebaseapp.com",
		    databaseURL: "https://ideabox-dffe8.firebaseio.com",
		    storageBucket: "ideabox-dffe8.appspot.com",
		    messagingSenderId: "1041486972571"
		  };
		  firebase.initializeApp(config);
		</script>
		<script src="main.js"></script>
		<script src="login.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>